$accentColor = #096dd9

// 主题（默认）
// $bodyBgColor = #ffffff
// $pageTopBorder = #cfd4db
// $pageTopBgColor = #f9f9f9
// $blockquoteFontColor = #71777c
// $blockquoteBgColor = #f4f7f8
// $lineHeight = 1.7

// 主题（阮一峰风格）
$bodyBgColor = #f5f5d5
$pageTopBorder = #e0dfcc
$pageTopBgColor = #f5f2f0
$blockquoteFontColor = #111111
$blockquoteBgColor = rgba(27, 31, 35, 0.06)
$lineHeight = 2